
* {
    box-sizing: border-box;
  }
  
.responsive {
    max-width: 100%;
    height: auto;
    }


  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 40px;
    text-align: center;
    background: #2F7604;
    color: white;
  }
  
  /* header*/
  .header h1 {
    font-size: 30px;
  }
  
  /* nav bar */
  .navbar {
    overflow: hidden;
    background-color: #FFCB32;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 120px;
    text-decoration: none;
  }
  
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #F8FFCA;
    color: black;
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: #FFCB32;
    color: white;
  }


/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Footer */
.footer {
    padding: 10px;
    text-align: center;
    background: #2F7604;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }