
* {
    box-sizing: border-box;
  }
  
.responsive {
    max-width: 100%;
    height: auto;
    }

  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 40px;
    text-align: center;
    background: #2F7604;
    color: white;
  }
  
  /* header*/
  .header h1 {
    font-size: 30px;
  }
  
  /* nav bar */
  .navbar {
    overflow: hidden;
    background-color: #FFCB32;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 120px;
    text-decoration: none;
  }
  
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #F8FFCA;
    color: black;
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: #FFCB32;
    color: white;
  }

  /* Footer */
  .footer {
    padding: 10px;
    text-align: center;
    background: #2F7604;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }

/* input form*/
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #ffcb32;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #b6d084;
}
/* div box*/
div.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
h1 {
  text-align: center;
}
p {
  text-align: center;

}