body {
    background-image: url('handprint.jpg');
    background-size: 35%;
}
h1 {
    color: black;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

h2 {
color: purple;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;


}

