* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 40px;
    text-align: center;
    background: #2F7604;
    color: white;
  }
  
  /* header*/
  .header h1 {
    font-size: 30px;
  }
  
  /* nav bar */
  .navbar {
    overflow: hidden;
    background-color: #FFCB32;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 120px;
    text-decoration: none;
  }
  
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #F8FFCA;
    color: black;
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: #FFCB32;
    color: white;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 600px; 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #2f7604;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

  


