
body {
    background: color #eeede7;

.tovnav {
overflow:hidden;
backgroundcolor: #b9b7bd;
}

.tovnav a {
float: left;
color: #868b8e;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
    background-color: #e7d2cc;
    color: white;
}

.topnav a. active {
background color: #868b8e;
color:white;
}








@media only screen and (max-width: 500px) {
/* For mobile phones: */ 
.menu, .main, {
    width: 100%;

}

}