body {
    background-color:#ffffff;
} 
h1 {
    color: black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

h2 {
  color: black;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
* {
box-sizing: border-box;

}
.heading {
    text-align: center;
}
    .columns {
    float: left;
    width: 300px;
    padding: 12px;
    min-height: 300px;
    }

    .rows:after {
    content:"";
    display: table;
    clear: both;

    }

@media screen and (max-width: 600px) 
.columns {
    width: 50%;
}

/* the CSS box model */

/*
Margin:
Border:
Padding:
*/

.box {
  background: lightgray;
  width: 200px;
  height: 150px;
  margin: 100px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  margin-top: 300px;
  font-size: 22px;
}


  .navbar {
    overflow: hidden;
    background-color: cadetblue;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #f1f1f1;
    color: cadetblue;
  }
  
  .navbar a.active {
    background-color:cadetblue;
    color: white;
  }
  
  .main {
    padding: 16px;
    margin-bottom: 30px;
  }
  .footer {
    text-align: center;
    background-color: cadetblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    justify-content: center;
    color: black;
    

  }

  </style>
  </head>
  <body>
  
 
  