.header {
    padding: 25px;
    text-align: center;
    background: #1167b1;
    color: white;
    font-size: 20px;
  }


    body {
        background-image: url('4405.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }

      /*responsive page*/
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }

    /*footer */
footer {
    text-align: center;
    padding: 5px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
}

div {
    background-color:#1167b1;
    width: 300px;
    border: 15px solid black;
    padding: 50px;
    margin: 190px;
}

}