body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #868b8e;
  }
  
  .topnav a {
    float: left;
    color: #e7d2cc;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #e7d2cc;
    color: black;
  }
  
  .topnav a.active {
    background-color: #b9b7bd;
    color: black;
  }